@import "../../styles/index.css";
@import "../../styles/layout/page-width.css";

.main-product {
  display: grid;
  width: 100%;

  @media (--medium-up) {
    grid-template-columns: 60% 1fr;
    gap: var(--grid-gutter);
  }
}

.main-product__media-gallery {
  display: grid;
  width: 100%;
}

.main-product__info {
  padding: 0 var(--pageWidthPadding);

  @media (--medium-up) {
    padding: 65px 0 0 45px;
  }
}
