{%- comment -%}
  Main product section

  Accepts the following attributes:
  - slot {string} - Content for product info
  - product_media_gallery {string} - Content for the product media gallery

  Usage:
  {% liquid
    capture blocks
      for block in section.blocks
        case block.type
          when 'description'
            render 'block-description', block: block
        endcase
      endfor
    endcapture

    render 'main-product', slot: blocks
  %}
{%- endcomment -%}

{%- liquid
  capture product_media_gallery_default
    render 'product-media-gallery'
  endcapture
-%}

<section class="main-product page-width page-width--flush-small" data-color-scheme="scheme-2">
  <div class="main-product__media-gallery">
    {{- product_media_gallery | default: product_media_gallery_default -}}
  </div>

  <div class="main-product__info">
    {{- slot -}}
  </div>
</section>
