html {
  touch-action: manipulation;
}

html[dir='rtl'] {
  direction: rtl;
}

html,
body {
  background-color: rgb(243 243 243);
  color: rgb(18 18 18);
  line-height: 1.4;
}

[hidden] {
  display: none;
}

[visually-hidden] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
