@import "../../styles/vendor/normalize.css";
@import "../../styles/variables.css";
@import "../../styles/helpers/aspect-ratio.css";
@import "../../styles/helpers/placeholder-svg.css";
@import "../../styles/helpers/position.css";
@import "../../styles/modules/model-viewer.css";
@import "../../styles/layout/page-width.css";
@import "../../styles/base.css";

.media-with-text {
  display: flex;
  flex-direction: column;

  @media (--medium-up) {
    display: grid;
    justify-content: space-between;

    &.page-width {
      padding-top: var(--pageWidthPadding);
      padding-bottom: var(--pageWidthPadding);
    }
  }
}

.media-with-text-media--33,
.media-with-text-media--66.media-with-text--left {
  grid-template-columns: 2fr 1fr;
}

.media-with-text-media--50 {
  grid-template-columns: 1fr 1fr;
}

.media-with-text-media--66,
.media-with-text-media--33.media-with-text--left {
  grid-template-columns: 1fr 2fr;
}

.media-with-text:not(.page-width) .media-with-text__media {
  width: 100%;
}

.media-with-text__media {
  @media (--small) {
    .media-with-text-media--33.page-width & {
      width: 50%;
    }

    .media-with-text-media--50.page-width & {
      width: 75%;
    }
  }
}

.media-with-text__text {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;

  @media (--small) {
    order: 1;

    .media-with-text:has(&.text-center) {
      align-items: center;
    }

    .media-with-text:has(&.text-right) {
      align-items: end;
    }
  }

  @media (--medium-up) {
    padding: 30px 60px;
  }

  .media-with-text--left & {
    order: 1;
  }
}

.media-with-text__media {
  overflow: hidden;

  @media (--small) {
    .media-with-text.page-width & {
      padding-top: 20px;
    }
  }
}
