/* TODO: remove CSS above this line */
/* and variables that are no longer used */
body {
  font: var(--body-font-style) var(--body-font-weight) var(--text-base) / 1.65 var(--body-font-family);
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.text-xs {
  font-size: var(--text-xs);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-base {
  font-size: var(--text-base);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-3xl {
  font-size: var(--text-3xl);
}

.text-4xl {
  font-size: var(--text-4xl);
}

.text-5xl {
  font-size: var(--text-5xl);
}

.text-6xl {
  font-size: var(--text-6xl);
}

.text-7xl {
  font-size: var(--text-7xl);
}

.text-8xl {
  font-size: var(--text-8xl);
}

.text-9xl {
  font-size: var(--text-9xl);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.rte :where(h1, h2, h3, h4, h5, h6),
.heading {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  overflow-wrap: anywhere;
}

.h1,
.rte :where(h1) {
  font-size: var(--text-h1);
  line-height: 1.1;
}

.h2,
.rte :where(h2) {
  font-size: var(--text-h2);
  line-height: 1.1;
}

.h3,
.rte :where(h3) {
  font-size: var(--text-h3);
  line-height: 1.2;
}

.h4,
.rte :where(h4) {
  font-size: var(--text-h4);
  line-height: 1.3;
}

.h5,
.rte :where(h5) {
  font-size: var(--text-h5);
  line-height: 1.4;
}

.h6,
.rte :where(h6) {
  font-size: var(--text-h6);
  line-height: 1.4;
}
