{%- comment -%}
  Renders the product's description

  @param {block} block - The block object

  @example
  {% render 'product-description', block: block %}
{%- endcomment -%}

<div class="product-block" {{ block.shopify_attributes }}>
  {%- render 'product-description' -%}
</div>
