{%- comment -%}
  Renders the product's description

  @param {block} block - The block object

  @example
  {% render 'product-description' with block %}
{%- endcomment -%}

{%- liquid
  assign block = block-description
-%}

<div class="product-block{% if block.settings.is_tab %} product-block--tab{% endif %}" {{ block.shopify_attributes }}>
  {%- liquid
    render 'product-description' with block
  -%}
</div>
