{%- comment -%}
  Renders the product description

  Accepts:
  - block {block} - Block object

  Usage:
  {% render 'product-description', block: block %}
{%- endcomment -%}

<div class="product-block" {{ block.shopify_attributes }}>
  {%- render 'product-description' -%}
</div>
