{%- comment -%}
  Renders the checkout button and payment icons if enabled

  Accepts the following attributes:
  - block {block} - Block object
{%- endcomment -%}

{% liquid
  assign taxes_included = taxes_included | default: cart.taxes_included
%}

<div class="cart-checkout-button" {{ block.shopify_attributes }}>
  <div class="cart-checkout-button__shipping-copy">
    {%- if taxes_included -%}
      {{ 'info.shipping_at_checkout_taxes_included' | t }}
    {%- else -%}
      {{ 'info.shipping_at_checkout' | t }}
    {%- endif -%}
  </div>

  <button type="submit" class="button" name="checkout">Checkout</button>

  {%- if shop.enabled_currencies.size > 0 -%}
    <div class="cart-checkout-button__we-accept">
      <div>We accept</div>
      <div class="cart-checkout-button__payment-types">
        {%- for type in shop.enabled_payment_types -%}
          {{- type | payment_type_svg_tag -}}
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</div>
