{%- comment -%}
  Renders the product title

  Accepts:
  - block {block} - Block object
  - product {product} - Product object

  Usage:
  {% render 'block-title', block: block %}
{%- endcomment -%}

{%- liquid
  assign title_default = 'labels.example_product' | t
  assign title = product.title | default: title_default
-%}

<div class="block-title" data-section-id="{{ section.id }}" {{ block.shopify_attributes }}>
  <h1 class="h2 block-title__heading">
    {{- title -}}
  </h1>
</div>
