.button {
  cursor: pointer;
  display: inline-flex;
  width: fit-content;
  background-color: rgb(var(--color-button-background));
  color: rgb(var(--color-button-text));
  text-decoration: none;
  font-size: var(--size-4);
  padding: var(--size-3) var(--size-6);
  border-radius: var(--radius-xs);
}
