@import '../../styles/layout/breakpoints.css';
@import '../../styles/modules/button.css';

.block-buy-buttons {
  display: block;

  .shopify-payment-button {
    margin-top: var(--size-3);

    @media (--medium-up) {
      margin-top: var(--size-5);
    }
  }

  .shopify-payment-button__button {
    font: inherit;
    border-radius: 4px;
    overflow: hidden;
    min-height: 57.7px;
    border-radius: var(--radius-xs, 4px);
    background: #141811;
    font-size: var(--size-4);

    &:hover {
      background-color: #000;
    }
  }
}

.block-buy-buttons__submit {
  background-color: transparent;
  border-radius: var(--radius-xs, 4px);
  border: 1px solid #141811;
  color: #141811;

  &.button {
    width: 100%;
    justify-content: center;
  }
}

.block-buy-buttons__submit[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
