@import "../../styles/vendor/normalize.css";
@import "../../styles/variables.css";
@import "../../styles/base.css";

.product-media-gallery {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  padding-left: var(--pageWidthPadding);
  padding-right: var(--pageWidthPadding);
  scroll-snap-type: x mandatory;
  scroll-padding-left: var(--pageWidthPadding);
  scroll-padding-right: var(--pageWidthPadding);
  scroll-behavior: smooth;

  @media (--medium-up) {
    grid-auto-flow: row;
    padding-left: 0;
    padding-right: 0;
  }
}

.product-media-gallery__item {
  width: calc(100vw - 3rem);
  aspect-ratio: 1 / 1;
  scroll-snap-align: center;
  overflow: clip;

  @media (--medium-up) {
    width: 100%;
  }
}
