@import "../../styles/helpers/visibility.css";

.block-price {
  display: block;
}

.block-price__regular {
  [data-on-sale] & {
    display: none;
  }
}

.block-price__save {
  display: none;

  [data-on-sale] & {
    display: block;
  }
}

.block-price__sale {
  display: none;

  [data-on-sale] & {
    display: flex;;
    gap: 5px;
  }
}

.block-price__unit-price {
  display: none;

  [data-unit-price] & {
    display: block;
  }
}

.block-price__container {
  display: flex;
  gap: 5px;
}
