{%- liquid
  render 'block-rich-text'
-%}

{% schema %}
{
  "name": "t:labels.rich_text",
  "settings": [
    {
      "type": "header",
      "content": "t:labels.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:labels.subheading"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:labels.heading",
      "default": "Rich text"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:labels.heading_size",
      "options": [
        {
          "value": "h4",
          "label": "t:labels.sizes.small"
        },
        {
          "value": "h3",
          "label": "t:labels.sizes.medium"
        },
        {
          "value": "h2",
          "label": "t:labels.sizes.large"
        },
        {
          "value": "h1",
          "label": "t:labels.sizes.extra_large"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:labels.text",
      "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:labels.button_text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:labels.button_link"
    }
  ],
  "presets": [
    {
      "name": "t:labels.rich_text"
    }
  ]
}
{% endschema %}
