{%- comment %}
  Renders product media

  Accepts:
  - media {media} - Media object
  - preload {boolean} - Whether or not to preload the image
  - sizes {string} - Sizes attribute for the image tag

  Usage:
  {% render 'media', media: media, preload: true %}
{%- endcomment %}

{%- liquid
  assign preload = preload | default: false
  assign sizes = sizes | default: '(min-width: 64em) 30vw, (min-width: 48em) 25vw, 90vw'

  assign loading = 'lazy'
  assign fetchpriority = 'auto'
  if preload
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif
-%}

<div class="media">
  {%- case media.media_type -%}
    {%- when 'image' -%}
      {%- render 'block-image', image: media -%}
    {%- when 'video' -%}
      {%- render 'block-video', video: media -%}
    {%- when 'external_video' -%}
      {%- render 'block-video', external_video: media -%}
    {%- when 'model' -%}
      {%- render 'block-model', model: media -%}
  {%- endcase -%}
</div>
