@import "../../styles/variables.css";
@import "../../styles/helpers/visibility";

.variant-button {
  --labelBottomMargin: 12px;
  border: 0;
  padding: 0;
  margin: 0 0 calc(var(--labelBottomMargin) * -1);
  position: relative;

  label {
    font: inherit;
    position: relative;
    display: inline-flex;
    justify-content: center;
    font-weight: normal;
    padding: var(--space-2) var(--space-3);
    margin: 0 var(--space-2) var(--space-3) 0;
    min-width: var(--space-10);
    background-color: var(--colorBody);
    box-shadow: 0 0 0 1px var(--colorBorder);
    border-radius: 1px;
    overflow: hidden;

    &.color-swatch {
      padding: 0;
    }

    [data-center-text="true"] & {
      margin: 0 4px var(--labelBottomMargin);
    }
  }

  input[type="radio"]:focus + label {
    box-shadow: 0 0 0 1px var(--colorTextBody);
    outline: 2px auto Highlight;
    outline: 2px auto -webkit-focus-ring-color;
    outline-offset: 1px;
  }

  input[type="radio"]:checked + label {
    box-shadow: 0 0 0 2px var(--colorTextBody);
  }

  input[type="radio"][data-disabled] + label,
  input[type="checkbox"][data-disabled] + label {
    color: var(--colorBorder);

    &:after {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      bottom: 0;
      border-left: 2px solid;
      border-color: var(--colorBorder);
      transform: rotate(45deg);
    }
  }
}

.variant-button__label {
  padding: 0;
  display: block;
  margin-bottom: var(--space-2);
  font-weight: var(--typeHeaderWeight);
  font-size: calc(var(--typeBaseSize) + 1px);
  cursor: default;
}
